
@{
    ViewBag.Title = "Index";
}


<div id="morecontent">
    <center>
        <h4 style="color:coral">Cemal Yılmaz Özmen</h4>
        <p></p>
        <p>Date Of Birth:  07.09.1994</p>
        <p>Place Of Birth:  Istanbul</p>
        <p>Military Status: Postponed</p>
        <p>4.Levent / Istanbul  TR</p>
        <p>+90 537 741 08 40</p>
        <p>cemalyilmazozmen@gmail.com</p>
    </center>
    <center>
        <a href="~/Cv_CemalYilmazOzmen.pdf" target="_blank" class="btn" id="btncv" style="margin-top: 200px;">Full CV</a>
        <button class="btn" id="btnmain" style="margin-top: 200px;">Main Page</button>
    </center>
</div>

<section class="container" id="content">
    <div class="row">
        <div id="player" class="col-md-12 col-lg-6">
            <h1>Hi!</h1>
            <div class="player-img">
                <img src="~/img/Cemal2.png" alt="Cemal Yılmaz Özmen">
            </div>
        </div>
        <div id="info" class="col-md-12 col-lg-6">
            <h1>Summery</h1>
            <p>Name:<br /> Cemal Yılmaz Özmen</p>
            <p>Skills:<br /> C#, OOP, .NET, <br /> Entity Framework, MVC <br />Html, Css, Bootstrap, <br />JavaScript</p>
            <p>Superpower:<br /> Full Stack Developer</p>
            <p><button class="btn" id="moreinfo" onclick="gizle()">More info</button></p>
        </div>
    </div>



</section>

<script src="~/Scripts/jquery-3.4.1.slim.js"></script>




